header{
    background-color: blue;
    height: 200px;
    text-align: center;
    color: white;
}
nav{

    background-color: blueviolet;
    height: 150px;
    text-align: center;
    color: white;
}
.content{
    overflow: hidden;
}


.left{
    background-color: brown;
    height: 400px;
    width: 50%;
    text-align: center;
    float: left;

}

.left_upper{
    background-color: cornflowerblue;
    height: 200px;
    text-align: center;



}
.left_bottom{
    background-color: cyan;
    height:200px ;
    text-align: center;


}


.right{
    background-color: chartreuse;
    height: 400px;
    width: 50%;
    text-align: center;
    float: right;



}
footer{
    background-color: darkorange;
    text-align: center;
    height: 50px;
    color: white;
}