.h_part{
    overflow: hidden;

}
.logo{
    background-color: tomato;
    width: 30%;
    text-align: center;
    color: white;
    float: left;
    height: 90px;


}
.banner{
    background-color: turquoise;
    width: 70%;
    text-align: center;
    color: white;
    float: right;
    height: 90px;


}
header{
    background-color: violet;
    height: 150px;
    text-align: center;
    color: white;
}
.blocks{
    overflow: hidden;
}
.left{
    background-color: yellow;
    width: 33.33%;
    height: 300px;
    float: left;
    text-align: center;
    overflow: hidden;
}
.center{
    width: 33.33%;
    height: 300px;
    float: left;
    overflow: hidden;
    
}

.center_upper{
    background-color: indianred;
    height: 100px;
    text-align: center;

}
.center_middle{
    background-color: indigo;
    height: 100px;
    text-align: center;


}
.center_bottom{
    background-color:lawngreen;
    height: 100px;
    text-align: center;

}




.right{
    background-color: greenyellow;
    width: 33.33%;
    height: 300px;
    float: left;
    text-align: center;
}
footer{
    background-color:red;
    height: 100px;
    text-align: center;
}